{
  "ConnectionStrings": {
    "SQLSERVER_CONECTION": "Server=[ServerName];Database=[DataBaseName];User Id=[UserName];Password=[PasswordKey];Encrypt=false;Trusted_Connection=True;MultipleActiveResultSets=true"
  },
  "Persistence": {
    "UseInMemoryDatabase": false
  },
  "JWT": {
    "Enabled": true,
    "Issuer": "BussinesLibrary",
    "Audience": "BussinesLibraryClient",
    "key": "KeyJwtSeguraDeAlmenos32Caracteres_2026",
    "ExpireMinutes": 60
  },
  "Cors": {
    "AllowedOrigins": [
      "http://localhost:3000",
      "https://localhost:3001"
    ]
  },
  "RateLimiting": {
    "EnableEndpointRateLimiting": true,
    "ClientIdHeader": "X-ClientId",
    "HttpStatusCode": 429,
    "PermitLimit": 100,
    "WindowSeconds": 60
  },
  "OpenApi": {
    "Title": "Bussines_Library.Api",
    "Version": "v1",
    "Enabled": true
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
